@font-face {
    font-family: "Soft" ;
    src: url("Fontspring-DEMO-SofiaProSoftMed.otf") format("truetype");
}

@font-face {
    font-family: "Afo" ;
    src: url("Afacad-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Neee" ;
    src: url("Fontspring-DEMO-cervoneue-regularneue.otf") format("truetype");

}